// qui posso inserire tutti i font - colori - stili e assegnarli delle variabili 

$main-font: "Montserrat, sans-serif";

$header-color: #181818;

$card-color: #181818;

$logo-color: #1DB954;

$main-background: #0E1217;

$loader_background: #0E1217;

$title-color: white;

$info-color: grey;